#work{
    background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#work h1{
    font: 25px/30px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #070808;
}
#work .work-col{ 

    position: relative;
    padding: 0 20px;
    min-height: 1px;

}

.work-item .item-wrapper .overlay{
    position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   color: #fff;
   padding: 20px 10px;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
    background: url(../../images/overlay-bg.png) repeat;
    border-radius: 10px;
}
.work-item .item-wrapper img{
   vertical-align: bottom;
   max-width: 100%;
}
.work-item .item-wrapper.work-item-meta{
    padding: 18px 
}
.work-item .item-wrapper.work-item-meta h5{
    font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.work-item .item-wrapper.work-item-meta p{
    font: 12px/18px 'opensans-light', sans-serif;
    color: #c6c7c7;
    margin-bottom: 0;
}
.work-item:hover .overlay{
    opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
    color: #fff;
    padding: 20px 10px;
}
.bgrid-quarters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 25px;
}
@media (max-width:765px){
    #work .work-col{ 
        margin-bottom: 36px;
        position: relative;
        padding: 0 20px;
        min-height: 1px;
        float: left;
    
    }
    .bgrid-quarters{
        width: 100%;
        display:block;
    }
    #work h1{
        padding: 0 20px;
    }
}